service: "amathon-hands-on"

provider:
  name: aws
  runtime: nodejs8.10
  stage: ${opt:stage}
  region: ap-northeast-2

functions:
  root:
    handler: rootHandler.graphql
    memorySize: 512
    timeout: 5
    events:
      - http:
          path: /root
          method: ANY
          cors: true
      - http:
          path: /root/{proxy+}
          method: ANY
          cors: true
  {{#schemas}}
  {{.}}:
    handler: bundle/{{.}}/handler.graphql
    memorySize: 512
    timeout: 5
    events:
      - http:
          path: /{{.}}
          method: ANY
          cors: true
      - http:
          path: /{{.}}/{proxy+}
          method: ANY
          cors: true
  {{/schemas}}

{{resources}}

package:
  exclude:
    - dist/assets/**
    - public/**
    - tests/**
  include:
    - dist
    - src

plugins:
  - serverless-offline

custom:
  serverless-offline:
    port: 4000
